* {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#navbar-container {
  width: 100%;
  height: 72px;
  display: grid;
  place-items: center;
  grid-template-columns: 20% 70%;
}

#tema-container {
  width: 60%;
  display: grid;
  font-size: 20px;
  place-items: center;
  grid-template-columns: repeat(3, 33%);
  position: relative;
}

#logo-container {
  font-size: 35px;
}

.navbar-item {
  cursor: pointer;
}

#drop-down-menu {
  display: none;
  position: absolute;
}

#drop-down-menu > li {
  list-style: none;
}

#halla-container:hover {
  color: black;
}

#halla-container:hover > #drop-down-menu {
  display: block;
}
