* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #f5fffe 10%, #f8feff 100%);
}

.logo {
  background-image: linear-gradient(
    125deg,
    hsl(348deg 88% 39%) 0%,
    hsl(336deg 89% 37%) 13%,
    hsl(325deg 90% 35%) 19%,
    hsl(312deg 92% 33%) 23%,
    hsl(301deg 92% 31%) 27%,
    hsl(290deg 93% 29%) 31%,
    hsl(277deg 94% 27%) 34%,
    hsl(266deg 95% 25%) 38%,
    hsl(254deg 97% 24%) 41%,
    hsl(242deg 98% 22%) 44%,
    hsl(231deg 98% 20%) 47%,
    hsl(219deg 100% 18%) 50%,
    hsl(219deg 100% 25%) 53%,
    hsl(219deg 100% 33%) 56%,
    hsl(219deg 100% 40%) 59%,
    hsl(219deg 100% 48%) 62%,
    hsl(219deg 100% 55%) 66%,
    hsl(219deg 100% 63%) 69%,
    hsl(219deg 100% 70%) 73%,
    hsl(219deg 100% 78%) 77%,
    hsl(219deg 100% 85%) 81%,
    hsl(219deg 100% 93%) 87%,
    hsl(0, 0%, 100%) 100%
  );
  display: grid;
  place-items: center;
  border-radius: 10px;
}
